.sidebar {
	position: absolute;
	top: 0;
	left: -400px;
	height: 100vh;
	transition: all 0.2s ease-in-out;
}
.sidebar--shown {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba($color: #F8F8F8, $alpha: 0.8);
}
.sidebar__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 1024px;
	background-color: #FFFFFF;
	overflow-y: auto;
}
.sidebar-header__navigation {
	justify-content: space-between;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-top: 18px;
	>.sidebar-header__icon {
		margin-right: 24px;
	}
}
.sidebar-header__left-group {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: 24px;
	gap: 16px;
}
.sidebar-menu {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: column;
	align-items: flex-start;
	margin: 32px 0 32px 24px;
	gap: 32px;
}
.sidebar-footer__options {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 16px;
}
.sidebar-footer__address {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: column;
	align-items: flex-start;
	margin: 16px 0 40px;
	gap: 12px;
}
.localization {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 7px;
}
.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: no-repeat center #FF3E79;
	border-radius: 50%;
	transition: all 0.3s;
	&:hover {
		background-color: #da3868;
	}
}
.sidebar-menu__item {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	&::before {
		position: relative;
		left: -24px;
		display: block;
		height: 32px;
		border-right: 4px solid transparent;
		border-radius: 0 4px 4px 0;
		content: "";
		transition: all 0.3s;
	}
	&:hover {
		&::before {
			border-right: 4px solid #41F6D7;
		}
		color: #7E7E82;
	}
}
.sidebar-menu__link {
	transition: all 0.3s;
}
.localization__option {
	transition: all 0.3s;
	background-color: inherit;
	font-family: inherit;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	&:hover {
		color: #7E7E82;
	}
}
.sidebar-footer {
	margin-left: 24px;
}
.address__email {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
}
.address__tel {
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	letter-spacing: -0.6px;
	text-align: left;
}
.sidebar-footer__localization {
	margin-bottom: 32px;
}
.visually-hidden {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@media (min-width: 361px) {
	.sidebar__content {
		width: 320px;
	}
}

@media (max-width: 1119px) {
	.sidebar__content {
		box-shadow: 16px 0px 52px 0px #0E185033;
		height: 100vh;
	}
}

@media (min-width: 1120px) {
	.sidebar {
		position: fixed;
		z-index: 10;
		left: 0;
		background-color: #FFFFFF;
	}
	.sidebar-header__navigation {
		margin-top: 36px;
	}
	.sidebar-header__left-group {
		.sidebar-header__item:first-child {
			display: none;
		}
	}
}

@media (max-height: 1024px) {
	.sidebar__content {
		max-height: 100vh;
	}
}

@media (min-width: 1441px) {
	.sidebar {
		left: calc(0px + ((100vw - 1440px) / 2));
	}
}
