.brands-repair .section__title {
	margin-top: 24px;
}
.brands-repair__item {
	min-width: 240px;
	height: 72px;
	background-color: #FFFFFF;
	border-radius: 6px;
	box-sizing: border-box;
}
.brands-repair__link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
	transition: all 0.1s ease-in-out;
	&:hover {
		box-shadow: inset 0 0 5px 1px rgb(65, 246, 215);
	}
	img {
		max-height: 40px;
		&:last-child {
			padding: 12px 14px;
			border: 2px solid #FF3E79;
			border-radius: 50%;
		}
	}
}
.swiper, .swiper-wrapper {
	z-index: auto;
}
.swiper-pagination {
	display: flex;
	gap: 12px;
	position: static;
	margin: 0 auto 24px;
}
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #DDDDDD;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background: #B5B6BC;
}
.swiper-pagination-horizontal.swiper-pagination-bullets {
	.swiper-pagination-bullet {
		margin: 0;
	}
}
.swiper-pagination-bullets {
	width: max-content;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
	width: max-content;
}

@media (min-width: 768px) {
	.brands-repair__item {
		min-width: 224px;
	}
	.swiper-pagination {
		margin: 0;
	}
}

@media (min-width: 1120px) {
	.brands-repair__item {
		min-width: 240px;
	}
}
